@charset "UTF-8";
@import url(_reset.css);
@import url(_swiper-bundle.min.css);
.beta .header::after, .beta .prize__content::after {
  content: "中奖数据 测试中";
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 10%;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.6);
  font-size: 200rem;
  pointer-events: none;
}

.wrap {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 0;
  padding-top: 130.8%;
  background: url(../images/bg_01.jpg) no-repeat center top;
  background-size: 100% 100%;
}

.footer {
  width: 100%;
  height: 0;
  padding-top: 93%;
  background: url(../images/bg_12.jpg) no-repeat center top;
  background-size: 100% 100%;
}

.video {
  width: 100%;
  overflow: hidden;
  height: 0;
  padding-top: 60.1%;
  position: relative;
  background: url(../images/bg_02.jpg) no-repeat center top;
  background-size: 100% 100%;
}
.video__content {
  position: absolute;
  width: 87.8%;
  height: 0;
  padding-top: 50%;
  margin: auto;
  left: 0;
  right: 0;
  top: 2%;
  border-radius: 18px;
  background-image: linear-gradient(to top, #d9b97a, #e6d298);
  transform: translateZ(0);
  box-shadow: 4px 6px 6px 0 rgba(12, 79, 104, 0.44);
}
.video__border {
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}
.video__border.ready::after {
  position: absolute;
  content: "";
  pointer-events: none;
  width: 174rem;
  height: 174rem;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: url(../images/icon_play.png) no-repeat center top;
  background-size: 100%;
}
.video__border video {
  border-radius: 18px;
  width: 100%;
  height: 100%;
}

.list {
  width: 100%;
  overflow: hidden;
  height: 0;
  padding-top: 153%;
  position: relative;
  background: url(../images/bg_03.jpg) no-repeat center top;
  background-size: 100% 100%;
}
.list__content {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 16%;
}
.list__item {
  display: flex;
  width: 916rem;
  height: 238rem;
  margin: 0 auto 30rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  background: url(../images/bg_list.png) no-repeat right bottom;
  background-size: 98%;
  position: relative;
  align-items: center;
}
.list__item span {
  display: block;
  margin-top: 20rem;
  width: 535rem;
  height: 144rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}
.list__item:nth-child(1) span {
  background-image: url(../images/text_list_1.png);
}
.list__item:nth-child(2) span {
  background-image: url(../images/text_list_2.png);
}
.list__item:nth-child(3) span {
  background-image: url(../images/text_list_3.png);
}
.list__item:nth-child(4) span {
  background-image: url(../images/text_list_4.png);
}
.list__img {
  width: 25%;
  height: 0;
  padding-top: 25%;
  margin-right: 10rem;
  position: relative;
  border-radius: 50%;
  background-image: linear-gradient(to top, #d9b97a, #e6d298);
  transform: translateZ(0);
  box-shadow: 4px 6px 6px 0 rgba(12, 79, 104, 0.44);
}
.list__img img {
  position: absolute;
  width: 96%;
  height: 96%;
  left: 2%;
  top: 2%;
  border-radius: 50%;
}
.list__txt {
  font-size: 32rem;
  color: #1485d1;
  padding: 70rem 0 0 20rem;
}
.list__txt strong {
  display: inline-block;
  font-size: 52rem;
  min-width: 186rem;
  padding: 0 33rem;
  background: url(../images/bg_name.png) no-repeat center bottom;
  background-size: 100% 50%;
}
.list__txt i {
  display: block;
  font-style: normal;
  padding-top: 10rem;
  text-indent: 33rem;
  font-weight: bold;
}
.list .button__more {
  padding-top: 4.5%;
}

.button__more {
  position: relative;
  display: flex;
  justify-content: center;
}
.button__more .button {
  display: block;
  width: 421rem;
  height: 100rem;
  left: 0;
  right: 0;
  background: url(../images/bg_more.png) no-repeat center top;
  background-size: 100%;
  text-align: center;
  line-height: 80rem;
  font-size: 36rem;
  letter-spacing: 2rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(10, 139, 215, 0.5019607843);
}
.button__more .button.disabled {
  filter: grayscale(1);
}
.button__more i {
  position: absolute;
  width: 44rem;
  height: 46rem;
  top: 0;
  margin: 170rem auto 0;
  left: 0;
  right: 0;
  background: url(../images/icon_more.png) no-repeat center top;
  background-size: 100%;
  animation: moreShow 600ms ease-out infinite alternate;
}

.buy {
  width: 100%;
  overflow: hidden;
  height: 0;
  padding-top: 119.8%;
  position: relative;
  background: url(../images/bg_04.jpg) no-repeat center top;
  background-size: 100% 100%;
}
.buy__content {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 82.5%;
  display: flex;
  justify-content: space-around;
}
.buy__link {
  width: 35.9%;
  height: 0;
  padding-top: 10.1%;
  background: url(../images/btn_buy.png) no-repeat center top;
  background-size: 100% 100%;
}
.buy__link:first-child {
  transform: translateX(40rem);
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.mask__box {
  position: absolute;
  width: 86%;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  transform: translate3d(0, -50%, 0);
  border-radius: 20px;
  background-image: linear-gradient(to top, #cdd6de, #fff);
}
.mask__box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 40%);
  transform: translate3d(-10px, -10px, 0);
}
.mask__box::after {
  content: "";
  position: absolute;
  margin: auto;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 20px;
  background-image: linear-gradient(to top, #ebebeb, #fff);
}
.mask__close {
  position: absolute;
  width: 15.6%;
  height: 0;
  z-index: 3;
  padding-top: 16.3%;
  right: -12px;
  top: -12px;
  background: url(../images/btn_close.png) no-repeat center top;
  background-size: 100%;
}
.mask__close.disabled::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}
.mask__content {
  position: relative;
  z-index: 2;
  overflow: hidden;
  color: #1485d1;
  padding: 80rem 100rem 60rem;
  background: url(../images/bg_prize.png) no-repeat center 180rem;
  background-size: 100%;
}
.mask__content.guide {
  padding: 2% 5% 6%;
  color: #4b4c4c;
  font-size: 30rem;
}
.mask__content dl {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30rem;
}
.mask__content dl::after {
  content: "";
  position: absolute;
  z-index: 9;
  width: 342rem;
  height: 342rem;
  background: url(../images/icon_disable.png) no-repeat center top;
  background-size: 100%;
  right: -2.5%;
  bottom: -2.5%;
}
.mask__content dl dt {
  width: 165rem;
  margin-bottom: 30rem;
  text-align: right;
  font-size: 38rem;
  line-height: 80rem;
}
.mask__content dl dd {
  width: 470rem;
  margin-bottom: 30rem;
}
.mask__content dl dd p {
  font-size: 38rem;
  line-height: 54rem;
  text-align: left;
  color: #3b3b3b;
  padding: 13rem 0 0 0;
}
.mask__content dl dd input {
  width: calc(100% - 10px);
  height: 80rem;
  font-size: 30rem;
  color: #3b3b3b;
  text-indent: 10px;
  border: 1px solid #ced6de;
  border-radius: 5px;
  background-color: #fff;
}
.mask__content dl dd input:disabled {
  background-color: #e0e0e0;
}
.mask__content .button__more {
  margin-bottom: 40rem;
}
.mask__code {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 40rem;
}
.mask__border {
  height: 1px;
  margin: 40rem 0;
  background-image: linear-gradient(to right, rgba(191, 221, 237, 0), rgb(191, 221, 237), rgba(191, 221, 237, 0));
}
.mask__border + .mask__tips {
  padding-top: 0;
}
.mask__title {
  height: 100rem;
  width: 100%;
  text-align: center;
  background: url(../images/text_title.png?1021) no-repeat;
  background-size: auto 1100rem;
}
.mask__title::before, .mask__title::after {
  content: "";
  display: inline-block;
  height: 18rem;
  width: 90rem;
  background: url(../images/icon_title.png) no-repeat;
  background-size: auto 100%;
  margin: 44rem 0 0;
}
.mask__title::before {
  margin-right: 100rem;
  transform: rotateY(180deg);
}
.mask__title::after {
  margin-left: 100rem;
}
.mask__title.title3::before {
  margin-right: 200rem;
}
.mask__title.title3::after {
  margin-left: 200rem;
}
.mask__title.title4::before, .mask__title.title4::after, .mask__title.title6::before, .mask__title.title6::after {
  display: none;
}
.mask__title.title5::before {
  margin-right: 180rem;
}
.mask__title.title5::after {
  margin-left: 180rem;
}
.mask__title.title7::before {
  margin-right: 130rem;
}
.mask__title.title7::after {
  margin-left: 130rem;
}
.mask__title.title1 {
  background-position: center 0%;
}
.mask__title.title2 {
  background-position: center 10%;
}
.mask__title.title3 {
  background-position: center 20%;
}
.mask__title.title4 {
  background-position: center 30%;
}
.mask__title.title5 {
  background-position: center 40%;
}
.mask__title.title6 {
  background-position: center 50%;
}
.mask__title.title7 {
  background-position: center 60%;
}
.mask__img img {
  display: block;
  margin: 25rem auto 0;
  width: 275rem;
  height: 280rem;
}
.mask__txt {
  font-size: 35rem;
  line-height: 2;
  text-align: center;
  padding-bottom: 5rem;
  font-weight: bold;
  width: 860rem;
  margin-left: -100rem;
}
.mask__subTxt {
  width: 200%;
  line-height: 1;
  font-size: 40rem;
  color: #868686;
  margin-left: -50%;
  text-align: center;
  margin-bottom: -10rem;
  transform: scale3d(0.5, 0.5, 0.5);
  transform-origin: center 0;
}
.mask__tips {
  position: relative;
  width: 200%;
  font-size: 38rem;
  line-height: 1.4;
  text-align: left;
  color: #8e8e8e;
  transform: scale3d(0.5, 0.5, 0.5);
  transform-origin: 0 0;
  margin-bottom: -53.2rem;
}

.prize {
  width: 100%;
  overflow: hidden;
  height: 0;
  padding-top: 117.2%;
  position: relative;
  background: url(../images/bg_05.jpg) no-repeat center top;
  background-size: 100% 100%;
}
.prize__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 14% auto 0;
  width: 85%;
  padding-top: 85%;
  border-radius: 50%;
  transform: translateZ(0);
  box-shadow: 0 12px 10px 0 rgba(22, 136, 188, 0.5);
}
.prize__pie {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../images/bg_pie.png) no-repeat center center;
  background-size: 100% 100%;
}
.prize__pie.active {
  transition: transform 3s ease-in-out;
}
.prize__item {
  position: absolute;
  right: 0;
  width: 50%;
  top: 50%;
  transform-origin: left center;
  text-align: center;
}
.prize__item:nth-child(1) {
  transform: translate3d(0, -50%, 0) rotate(-90deg);
}
.prize__item:nth-child(2) {
  transform: translate3d(0, -50%, 0) rotate(-135deg);
}
.prize__item:nth-child(3) {
  transform: translate3d(0, -50%, 0) rotate(-180deg);
}
.prize__item:nth-child(4) {
  transform: translate3d(0, -50%, 0) rotate(-225deg);
}
.prize__item:nth-child(5) {
  transform: translate3d(0, -50%, 0) rotate(-270deg);
}
.prize__item:nth-child(6) {
  transform: translate3d(0, -50%, 0) rotate(-315deg);
}
.prize__item:nth-child(7) {
  transform: translate3d(0, -50%, 0) rotate(-360deg);
}
.prize__item:nth-child(8) {
  transform: translate3d(0, -50%, 0) rotate(-405deg);
}
.prize__button {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 29.8%;
  height: 29.8%;
  background: url(../images/btn_start.png) no-repeat center center;
  background-size: 100% 100%;
}
.prize__button p {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 60%;
  color: #1485d1;
  font-size: 24rem;
}
.prize .button__more {
  position: absolute;
  bottom: 2.5%;
  width: 100%;
}
.prize__miss {
  pointer-events: none;
  position: absolute;
  width: 56%;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  text-align: center;
  font-size: 40rem;
  line-height: 1.5;
  color: #1485d1;
  line-height: 100rem;
  transform: translate3d(0, -50%, 0);
  padding: 40rem 0;
  border-radius: 20px;
  opacity: 0;
  background-image: linear-gradient(to top, #cdd6de, #fff);
}
.prize__miss.active {
  animation: showAndHide 1.8s ease-in-out;
}
.prize__miss img {
  display: block;
  width: 167rem;
  height: 176rem;
  margin: 40rem auto 20rem;
}
@keyframes showAndHide {
  0%, 100% {
    opacity: 0;
  }
  10%, 85% {
    opacity: 1;
  }
}

.rules {
  width: 100%;
  height: 0;
  padding-top: 165.6%;
  background: url(../images/bg_07.jpg) no-repeat center top;
  background-size: 100% 100%;
}

.bottom {
  width: 100%;
  height: 0;
  padding-top: 53.5%;
  background: url(../images/bg_06.jpg) no-repeat center top;
  background-size: 100% 100%;
}

.more {
  width: 100%;
  padding: 69.3% 0 12%;
  position: relative;
  background: url(../images/bg_3.jpg) no-repeat center top #e0f99e;
  background-size: 100% auto;
}
.more .btn {
  width: 65.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.more .btn > * {
  width: 47.8%;
  height: 0;
  padding-top: 14.2%;
  background: url(../images/btn-share.png) no-repeat center 0;
  background-size: 100% auto;
}
.more .btn__more {
  background-position: center 100%;
}
.more .banner {
  width: 65.5%;
  margin: 8% auto 0;
}
.more .banner img {
  width: 100%;
  height: auto;
}

.winners {
  background: url(../images/bg_11.jpg) no-repeat center top #aad3e9;
  background-size: 100%;
  padding: 100rem 0;
  font-size: 45rem;
}
.winners .mask__title {
  margin-bottom: 50rem;
}
.winners .no-data, .winners .waiting {
  text-align: center;
  color: #484f52;
  padding: 400rem 0 400rem;
}
.winners__tab {
  display: flex;
  justify-content: center;
  margin-bottom: 30rem;
}
.winners__tab .item {
  position: relative;
  width: 18%;
  margin: 0 5rem;
  height: 80rem;
  border-radius: 40rem;
  background-color: #fff;
}
.winners__tab .item span {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  color: #424242;
  font-size: 40rem;
  font-weight: bold;
  text-align: center;
  line-height: 2;
}
.winners__tab .item.active {
  background-color: #c8a359;
  background-image: linear-gradient(to top, #c8a359, #e6d298 65%, #fff1c9);
}
.winners__tab .item.active::after {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  transform: translate3d(-50%, 99.9%, 0);
  border-top: 15rem solid #c8a359;
  border-left: 15rem solid transparent;
  border-right: 15rem solid transparent;
  border-bottom: 15rem solid transparent;
}
.winners__content {
  margin: 0 35rem;
  padding: 20rem;
  border-radius: 20rem;
  background-color: #fff;
}
.winners__content dt, .winners__content dd {
  display: flex;
}
.winners__content dt span:nth-child(1), .winners__content dd span:nth-child(1) {
  width: 25%;
}
.winners__content dt span:nth-child(2), .winners__content dd span:nth-child(2) {
  width: 20%;
}
.winners__content dt span:nth-child(3), .winners__content dd span:nth-child(3) {
  width: 55%;
}
.winners__content dt {
  text-align: center;
  font-weight: bold;
  font-size: 32rem;
  height: 85rem;
  color: #474747;
  line-height: 85rem;
  border-radius: 20rem;
  background-color: #e7f3fa;
}
.winners__content dd {
  color: #707070;
  font-size: 26rem;
  line-height: 30rem;
  padding: 20rem 0;
  border-bottom: 1px solid #eaeaea;
}
.winners__tips {
  font-size: 24rem;
  line-height: 1.5;
  color: #707070;
  margin: 40rem 35rem 0;
}

@keyframes moreShow {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -30%, 0);
  }
}

/*# sourceMappingURL=index.css.map */
